<div id="dialogue-parent" class="absolute z-50 w-full">
  <figure class="md:flex dialogue-background rounded-xl p-8 pb-2 md:p-0 md:mt-2 mb-2 ml-auto mx-auto w-full sm:w-6/12 content-center">
    <div class="text-center w-full md:w-2/12 ml-2 mb-2">
      <img id="npc" class="w-24 h-24 ml-auto mr-auto mt:-3 md:mt-6 rounded-full " alt="">
      <figcaption class="font-medium flex justify-center">
        <div id="npc-name" class="text-sky-500 dark:text-sky-400"></div>
      </figcaption>
    </div>
    <div class="pt-3 md:pt-6 pb-6 md:pr-6 w-full md:w-10/12 text-justify">
      <p id="dialogue" class="text-md font-medium md:mr-6">
      </p>
    </div>
    <br class="md:hidden">
    <div class="relative">
      <button id="next-dialogue" class="absolute bottom-2 right-3 rounded-full w-14 p-1 -rotate-90"><img src="public/arrow.png"/></button>
    </div>
  </figure>
</div>
