<button class="overflow-hidden land-js z-50 absolute h-11 px-1 rounded flex justify-center shadow align-center bg-gradient-to-b from-purple-50 to-purple-400 pt-[2px] transition-all duration-75 bottom-12 active:bottom-11 left-6 md:hidden">
  <div class="w-full h-15 absolute -top-[2px] left-0 flex items-center justify-between blur-sm">
    <div class="h-14 w-14 bg-purple-200 flex-shrink-0 rotate-45 -left-5 relative"></div>
    <div class="h-14 w-14 bg-purple-200 flex-shrink-0 rotate-45 -right-5 relative"></div>
  </div>
  <div class="relative h-13 border border-purple-100 flex-grow bg-gradient-to-b from-purple-200 to-purple-50 flex pt-1 pl-1 rounded">
    <span class="leading-none"><i class="fa-solid fa-plane-arrival"></i></span>
  </div>
</button>
<div id="joyDiv" class="absolute z-50 bottom-0 w-36 h-36 mx-auto left-0 right-0 md:none"></div>
