<%= partial 'dialogue' %>
<%= partial 'ticket' %>

<div class="container-map">
  <div id="map" class="z-20"></div>
</div>
<img class="rodri-js hidden" src="public/rodri.jpeg"/>
<img class="hacker-js hidden" src="public/hacker.jpeg"/>
<img class="rafa-js hidden" src="public/rafa.jpeg"/>
<img class="explosion-js hidden" src="public/explosion.gif">
<img class="fire-js hidden" src="public/fire.gif">

<%= partial 'mobile_controls' %>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
